 .u-section-1 {
  min-height: 785px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  min-height: 435px;
  background-image: url("images/5138237.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 545px;
}

.u-section-1 .u-container-layout-2 {
  padding: 23px 0;
}

.u-section-1 .u-text-1 {
  font-size: 5.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  width: 400px;
  margin: 42px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: 41px 64px 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px auto 0;
}

.u-section-1 .u-text-4 {
  width: 298px;
  margin: 143px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 703px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-image-1 {
    min-height: 400px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 449px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-1 .u-text-4 {
    font-weight: normal;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 591px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    width: 360px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 829px;
  }

  .u-section-1 .u-image-1 {
    min-height: 800px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 676px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-list-1 {
  margin-bottom: 60px;
  margin-top: 0;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 6px 6px;
  grid-template-columns: calc(25% - 4.5px) calc(25% - 4.5px) calc(25% - 4.5px) calc(25% - 4.5px);
  min-height: 375px;
}

.u-section-2 .u-list-item-1 {
  box-shadow: 0px 2px 21px 0px rgba(128,128,128,0.45);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2 .u-icon-1 {
  width: 127px;
  height: 127px;
  margin: 40px auto 0;
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  margin: 65px auto 0 15px;
}

.u-section-2 .u-list-item-2 {
  box-shadow: 0px 2px 21px 0px rgba(128,128,128,0.45);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-icon-2 {
  width: 127px;
  height: 127px;
  margin: 40px auto 0;
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  margin: 65px auto 0 15px;
}

.u-section-2 .u-list-item-3 {
  box-shadow: 0px 2px 21px 0px rgba(128,128,128,0.45);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-icon-3 {
  width: 127px;
  height: 127px;
  margin: 40px auto 0;
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  margin: 65px auto 0 15px;
}

.u-section-2 .u-list-item-4 {
  box-shadow: 0px 2px 21px 0px rgba(128,128,128,0.45);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px;
}

.u-section-2 .u-icon-4 {
  width: 127px;
  height: 127px;
  margin: 40px auto 0;
  padding: 0;
}

.u-section-2 .u-text-4 {
  font-weight: 400;
  margin: 65px auto 0 15px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 309px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 352px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 3px) calc(50% - 3px);
    min-height: 947px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 290px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 220px;
  }
}