.u-section-1 .u-sheet-1 {
  min-height: 735px;
}

.u-section-1 .u-image-1 {
  width: 596px;
  height: 660px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0.35;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 38px 0 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 6.375rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0.25;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-family: Poppins;
  margin: -658px 576px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0.25;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 79px 585px 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.9375rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0.25;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 59px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 437px;
    height: 577px;
    margin-top: 63px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
    width: auto;
    margin-top: -510px;
    margin-right: 376px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 56px;
    margin-right: 385px;
  }

  .u-section-1 .u-btn-1 {
    border-style: solid;
    margin-top: 47px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-1 .u-image-1 {
    height: 445px;
    margin-top: 466px;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: -911px;
    margin-left: 71px;
    margin-right: 71px;
  }

  .u-section-1 .u-text-2 {
    width: 555px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 10px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 770px;
  }

  .u-section-1 .u-image-1 {
    height: 441px;
    width: 402px;
    margin-top: 363px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-top: -792px;
    margin-left: 52px;
    margin-right: 52px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    width: auto;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 29px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 702px;
  }

  .u-section-1 .u-image-1 {
    height: 317px;
    width: 314px;
    margin-top: 414px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: -730px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.75rem;
    margin-top: 42px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 16px;
  }
} .u-section-2 {
  min-height: 13px;
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 103px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 706px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  width: 306px;
  margin: 38px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 43px auto 0;
}

.u-section-3 .u-list-1 {
  margin: 46px auto 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 24.6667px) calc(33.3333% - 24.6667px) calc(33.3333% - 24.6667px);
  min-height: 388px;
  grid-gap: 37px 37px;
}

.u-section-3 .u-list-item-1 {
  box-shadow: 2px 0 8px 0 rgba(128,128,128,1);
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 22px 13px;
}

.u-section-3 .u-icon-1 {
  height: 124px;
  width: 124px;
  margin: 17px auto 0;
}

.u-section-3 .u-text-3 {
  margin: 27px 8px 0;
}

.u-section-3 .u-text-4 {
  margin: 17px auto 0 17px;
}

.u-section-3 .u-list-item-2 {
  box-shadow: 2px 0 8px 0 rgba(128,128,128,1);
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 22px 13px;
}

.u-section-3 .u-icon-2 {
  height: 124px;
  width: 124px;
  margin: 17px auto 0;
}

.u-section-3 .u-text-5 {
  margin: 27px 8px 0;
}

.u-section-3 .u-text-6 {
  margin: 17px auto 0 17px;
}

.u-section-3 .u-list-item-3 {
  box-shadow: 2px 0 8px 0 rgba(128,128,128,1);
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  padding: 22px 13px;
}

.u-section-3 .u-icon-3 {
  height: 124px;
  width: 124px;
  margin: 17px auto 0;
}

.u-section-3 .u-text-7 {
  margin: 27px 8px 0;
}

.u-section-3 .u-text-8 {
  margin: 17px auto 0 17px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 320px;
  }

  .u-section-3 .u-list-item-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-3 .u-icon-1 {
    padding: 20px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-list-item-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-3 .u-icon-2 {
    padding: 20px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-list-item-3 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-3 .u-icon-3 {
    padding: 20px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1046px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 73px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 40px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 735px;
    grid-template-columns: calc(50% - 18.5px) calc(50% - 18.5px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }
}